.chat {
  display: flex;
  height: 100%;
}
.chat__messages-container{
  display: flex;
  flex-direction: column;
  width:100%;
}
.message {
  align-self: flex-end;
  margin: 0 0 19px 27px;
  width: 100%;
}
.message__form{
  display: flex;
  height: 45px;
}

.message__form input {
  width: 80%;
  border: 1px solid #eee;
  margin-left:25px;
  font-family: 'Frijole', cursive;
  outline: none;
  font-family: 'Special Elite', cursive;
}
.message__form button {
  margin: 0 20px;
  border: none;
  background: #6a5acd;
  color: white;
  font-family: inherit;
  font-size: 20px;
  padding:0;
  border-radius: 1px;
  width:70px;
}
.chat__chat-messages{
  flex-grow: 1;
  padding: 24px 24px 0;
  /* overflow-y: scroll; */
  height:300px;
}
.chat__sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
  background: #708090;
  width: 250px;
  overflow-y: scroll;
}

.chat__sidebar__room-name{
  font-size: 40px;
  color: antiquewhite;
  height:53px;
  width:100%;
  background-color: #778899;
}
.chat__sidebar__room-name span{
  padding:22px;
}
.chat__sidebar__users-head{
  margin: 20px;
  font-size: 25px;
}

.chat__sidebar__room-users{
  margin-left: 20px;
  font-family: 'Frijole', cursive;
  font-family: 'Special Elite', cursive;
}